@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Newsreader&display=swap");

$black: #0e0d0d;
$white: #ffffff;
$background: #918a8a;
$blue: #ad8ad0;
$hoverBlue: #6426a3;
$averiaLibre: "Newsreader", serif;
$lato: "Lato", sans-serif;
