@use "./Reset.scss";
@use "./variable" as variable;

// App {
//   text-align: center;
// }

html,
body {
  height: 100vh;
  overscroll-behavior: none;
  background-color: variable.$background;
}

main {
  background-color: variable.$background;
  // height: 100vh;
  font-size: 1.5em;
  color: variable.$black;
  font-family: variable.$averiaLibre;
}

// .body {
//   padding: 5%;
// }

h1,
h2,
h3 {
  font-family: variable.$averiaLibre;
  font-weight: bolder;
}

p {
  font-family: variable.$lato;
  line-height: 1.5em;
}

a:link {
  text-decoration: none;
  color: variable.$black;
}

a:visited {
  text-decoration: none;
  color: variable.$black;
}

a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
