@use "./variable" as variable;

.article-details {
  padding: 10% 2% 2% 2%;
  line-height: 2em;

  .title-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2em;
    margin: 1em 0.5em 0.5em 0;
  }

  .info {
    display: flex;
    margin-top: 0.5em;

    .overview {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1%;

      .copy-right {
        width: 48%;
        text-align: end;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  main {
    height: 100vh;
  }

  .article-details {
    height: 100%;
    flex-wrap: wrap;

    .overview {
      width: 100%;
    }

    .title-text {
      h2 {
        font-size: 1em;
      }

      p {
        font-size: 0.75em;
      }

      .copy-right {
        font-size: 0.5em;
      }
    }
  }
}
