.error-404-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8em;
}

.error {
  font-size: xxx-large;
}

.message {
  font-size: xx-large;
  font-weight: bold;
}
